.vehicle-card{
    position: relative;
    display: inline-block;
    width: 240px;  
    height: 360px;
    overflow: visible;
    /* z-index: 1; */
    border-radius: 10%;
    margin: 0 20px 20px 0;
    transition: all 0.7s;
  }
  
  .vehicle-card:hover {
    z-index: 2;
    -webkit-transform: translate(0px, -10px);
    transform: translate(0, -10px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    
  }
  
  
  .vehicle-card .details{
    position: absolute;
    height: 370px;
    width: 240px;
    overflow: hidden;
    background-color: rgba(57, 57, 57, 0.709);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .vehicle-card .details:hover{
    -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 240px;
  }
  .vehicle-card .info{
    margin: 10px;
  }
  .vehicle-card .ctas{
    margin: 10px 0;
  }
  .thumb-gallery{
    height: 150px;
  }
  .thumb-gallery img{
    position: absolute; 
    width: 240px;
    height: 150px;
    object-fit: cover;
  }
  .thumb-gallery img.first{
    opacity: 1;
  }
  .vehicle-card:hover .thumb-gallery img.second{
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  /*styling*/
  .stars{
    margin: 10px 0;
  }
  .star polygon {
    fill: #E20000;
  }
  .vehicle-card h3{
    margin: 0;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    letter-spacing: -.5px;
  }
  .vehicle-card .price span{
    font-family: "Helvetica", Arial, sans-serif;
    color: #999;
    font-size: .75rem;
  }
  .vehicle-card .price h4{
    margin: 0;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #222;
    font-size: 1.25rem;
  }
  .vehicle-card .desc p{
    color: white;
    font-size: 0.7rem;
    line-height: 1.25rem;
    padding-left: 0;
  }
  .vehicle-card .specs{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin: 20px 0;
    padding: 10px 0;  
  }
  .specs .spec{
    display: inline-block;
    margin-right: 10px;
  }
  .specs span{
    font-family: "Helvetica", Arial, sans-serif;
    color: #999;
    font-size: .75rem;
  }
  .specs p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  .specs p span{
    font-size: .75rem;
    margin-left: 2px;
    font-weight: normal;
  }
  .btn{
    display: block;
    padding: 0 10px;
    float: left;
    font-size: .75rem;
    font-family: "Helvetica", Arial, sans-serif;
    text-decoration: none;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;  
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
  .primary{
    background-color: #1383b3;
    color: #fff;
    margin-right: 10px;
    line-height: 30px;
  }
  .secondary{
    background-color: #fff;
    color: #1383b3;
    border: 2px solid #1383b3;  
    line-height: 26px;
  }
  .imgslide{
    left:0px;
  }
  .ulCard{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;

  }

  