body {
    margin: 0;
    background: linear-gradient(#1e152e, #161616);
    /* font-family: "Euclid Circular A", "Poppins"; */
    color: #d6dfed;
}


.bodyfooter {
    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(57, 57, 57);
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials {
    gap: 20px;
}

.socials a {
    font-size: 24px;
}

.links {
    gap: 10px;
}

.legal {
    font-size: 12px;
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    transform: scaleY(3) scaleX(2.25);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
}

.bodyfooter footer {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 370px;
}

.bodyfooter section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    width: 100%;
}

@media (width > 420px) {
    .bodyfooter section {
        align-items: center;
        padding-left: 0;
        gap: 20px;
    }
    .bodyfooter{
        max-width: 100%;
    
    }
    .links {
        gap: 20px;
    }
}
