

.masthead {
    background-image: url("../../storage/app/public/immagini/tycan3.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    padding-top: 56.25%; /* Calcolato in base al rapporto d'aspetto dell'immagine */
  
    @media only screen and (max-width: 768px) {
      padding-top: 100%; /* Valore predefinito per dispositivi mobili */
    }
  }