nav {
	transition: all 1s;
	display: flex;
	background-color: rgba(200, 210, 220, 0.2);
	padding: 0px;
	justify-content: center;
	z-index: 1;
	backdrop-filter: blur(2px); /* Disable this to have a Macos-like top bar
	border-radius: 0px 0px 10px 10px;
	border-top: none;
	margin-left: 50px;
	margin-right: 50px;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
	min-height: 50px;
	width: 100vw;
	align-items: center;
    position: fixed!important;
	z-index: 99;
}



nav ul,img{
position: relative;
z-index: 2;
}
nav a {
	z-index: 2;
	transition: border 0.2s ease;
	text-decoration: none;
	color: black;
	padding: 15px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-left: 5px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 999px;
}

nav a:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 999px;
	backdrop-filter: blur(8px);
}

/* h1 {
	margin: 50px;
	font-size: 50px;
	font-weight: 600;
} */

button {
	transition: backdrop-filter 0.3s ease;
	/* font-family: poppins; */
	/* margin-left: 50px; */
	border: none;
	border-radius: 9999px;
	padding: 10px 32px;
	font-size: 20px;
	cursor: pointer;
	background-color: rgba(200, 210, 250, 0.2);
	backdrop-filter: blur(2px);
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
button:hover {
	backdrop-filter: blur(8px);
}
p {
	/* margin: 20px; */
	margin-top: 50px;
	margin-bottom: 30px;
}

.glass{
	filter: blur(10px);

}

.glass ul{

	z-index: 9;
}

.logo{
	transition: 1s all;
}

.banner1 {
	margin-top: 2.8rem;
	position: fixed;
	color: #fff;
	height: 30px;
	
  }
  
  .banner img {
	margin-bottom: 20px;
  }
  
  .banner h1 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .banner a {
	font-size: 16px;
	padding: 10px 20px;
  }

  .navbar-toggler{
	display: flex;
	margin-left: auto;
	background-color: #fff;
}