html,body{
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;
}
.trebox{
    -webkit-box-shadow: 5px 5px 25px 8px rgba(0,0,0,0.63); 
    box-shadow: 5px 5px 25px 8px rgba(0,0,0,0.63);
    margin-right: 1rem;
    border-radius:10px;
    background-color: rgba(57, 57, 57, 0.709);
}

.rowtrebox{
    top:-3rem;
}

.facebookBG{
    color: rgba(255, 255, 255, 0.514);
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.instagramBG{
    color: rgba(255, 255, 255, 0.514);
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.tiktokBG{
    color: rgba(255, 255, 255, 0.514);
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-gold{
    color: goldenrod;
    font-weight: 800;
}

.text-black{
    color: black;
    font-weight: 800;

}

@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
}

.section{
    height: auto;
    min-height: 10vh;
}

.numero-cerchio {
    position: relative; /* Permette di posizionare il cerchio in modo assoluto rispetto al div */
  }
  
  .numero-cerchio .counter {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.66);
    color: red;
    text-align: center;
    font-weight: bold;
    line-height: 21px;
  }
  
  .numero-cerchio .counter span {
    font-size: 12px; /* Dimensione del testo */
  }

  .ricercaAuto{
    /* -webkit-box-shadow: 5px 5px 25px 8px rgba(0, 0, 0, 0.445); 
    box-shadow: 5px 5px 25px 8px rgba(0, 0, 0, 0.445); */
    /* margin-right: 1rem; */
    border-radius:10px;
    background-color: rgba(57, 57, 57, 0.233)!important;
}

.ricerca{
    font-family: "Exo 2", sans-serif;
}
hr{
    margin-top: 6rem!important;
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    
}

.contactbg{
    background: rgba(20, 20, 20, 0.733);
    color: white;
}
textarea::placeholder {
    color: white;
  }
  .social{
	display: flex;
    flex-direction: row!important;
}
 
